* {
	margin: 0;
	padding: 0;
}

#canvas {
	width: 100vw;
	height: 100vh;
	/*border: 2px solid red;*/
}

/* Right Click Menu */

.rightClickMenu {
	position: absolute;
	display: none;
	background-color: grey;
	border: 1px solid lightgrey;
	font-size: 18px;
	font-weight: bolder;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.rightClickMenuItem {
	padding: 2px 4px;
}
.rightClickMenuItem:hover {
	color: orange !important;
}
